@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Devan Alder";
}

<body>
    <br />
    <img src="~/img/Thing I enjoy.jpg" alt="Picture of something I enjoy" />

    <p>
        I believe that my biggest goal for 413 is to learn my place in a development work environment.
        I can tell that one of the skills that I am good at is programming, or at least that is what I have enjoyed so far.
        The biggest thing for most people in the core is being able to choose what to work in. I believe that 413 will give
        me a better idea of which part of the developmental process I would like to be apart of. This is what I hope to accomplish
        from this class.
    </p>

    <br />
    <br />

    <h2>Top 3 Jobs </h2>
    <ul>
        <li>#1: Data Analyst</li>
        <li>#2: Back-End Software Developer</li>
        <li>#3: Database Manager</li>
    </ul>

    <br />
    <br />
</body>